/* =========================== Reset styles ==============================*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: 100%;
}

html {
	overflow: hidden;
}

body {
	margin: 4px;
	overflow: hidden;
	background-color: #FFFFFF;
	color: #404040;
	line-height: 1;
	font-family: Arial, sans-serif;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

ol,ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	font-size: 75%;
}

table table {
	font-size: 100%;
}

caption,th,td {
	
}

fieldset {
	border: none;
	border-top: 1px solid #D0D0D0;
	padding: 0px 6px;
	margin: 6px;
}

legend {
	color: #3757EF;
	font-size: 120%;
	font-weight: bold;
	padding: 3px;
	margin: 0px;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

/* = End Reset Styles ================================================================= */


/* = PNG Styles ====================================================================== */
.gbk-pngContainer {
	display: inline-block;
}

.gbk-png {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.gbk-infoPng {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='jeeBlocks/images/info.png');
}

.gbk-warningPng {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='jeeBlocks/images/warning.png');
}

.gbk-errorPng {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='jeeBlocks/images/error.png');
}

.gbk-forbiddenPng {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='jeeBlocks/images/forbidden.png');
}
